@media (max-width: 600px){


    /* Utility*/

    .fact{
        margin: 6.4rem 0;
    }

    .fact.fact2{
        margin-top:0 ;
    }

    header{
        padding: 5rem 2.4rem 1rem 2.4rem;
    }
    header img{
        width: 15rem;
        /* max-height: 2rem; */
    }
    

    /* Main Section */

/* #about-me{display: none;} */

    #main{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }
    #main .social{
        display: none;
    }
    #main .social li{
        margin: 0;
    }

    
    #main .nav{
        position: relative;
        background-color: transparent;
        border: none;
        padding-right: 0;

    }
    #main .nav ol{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 2.4rem auto;
        padding: 0 2.4rem;

    }

    /* Hero */
    .hero{
        flex-direction: column;
        gap: 2rem;
        margin: 2.4rem;
        max-width: 100%;
    }
    .hero .hero-text{
        width: 100%;
        text-align: center;
    }
    .hero .hero-text p{
        width: 100%;
    }
    .hero .sub-text{
        width: 100%;
        margin-left:auto ;
    }
    .hero .sub-text p{
        margin: 0;
        width: 100%;
    }
    
    

    /* Works */

    #works{
        padding: 0 2.4rem 2.4rem 2.4rem;
    }
    /* Work */

    #work{
        flex-direction: column;
    }
    #work .work-img{
        width: 100%;
    }
    #work .work-img img{
        max-height: 30rem;
    }
    #work .work-text{
        width: 100%;
        margin-bottom: 6.4rem;
    }
    #work .work-text .work-logo{
        margin: 0 2.4rem;
    }
    #work .work-text h3{
        margin: 0 2.4rem;
    }
    #work .work-text .copy{
        margin: 0 2.4rem;
    }
    #work .work-text .industry .item p{
        font-size: 1.6rem;
        font-weight: 600;
        margin: 0.5rem;
    }

    #work .work-text .action{
        margin: 2.4rem;
    }
    #work .industry{
    flex-direction: column;
    margin: 2.4rem;

    }

    /* About */

    #about{
        padding: 0 2.4rem;
    }

    /* About Me */
    #about-me{padding: 2.4rem;}
    #about-me .text{
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }
    #about-me .text .background{
        width: 100%;
    }
    #about-me .text .availability{
        width: 100%;
    }
    .my-images .small-img img{
        width: 25rem;
        height: 25rem;
    }

    .my-images{
        margin: 6.4rem 2.4rem;
    }

    /* Contact */
    #contact .container{
        border-radius: 0;
        padding: 0;
        border-radius: 3.2rem;
    }
    #contact{
        background-color: #000000;
        border-radius: 0;
        padding: 6.4rem;
    }

    /* Footer */
    #footer {
        text-align: center;
        padding: 2.4rem 2.4rem 6.4rem 2.4rem;
    }
    
    /* Back To Top */
    /* #top .top{
        bottom: 2.4rem;
        right: 2.4rem;
        } */

    #top{display: none;}
    
}