@media (max-width: 600px) {

    header{
        flex-direction: column;
        height:fit-content;  
    }
    header li{
        font-size: 1.4rem;
    }
    .logo{
        margin: 2rem 0;
    }
    .nav{
        margin: 0;
    }
    #showcase .showcase-content{
        padding-top:6.4rem;
    }
    .l-heading{
        font-size: 4.8rem;
    }
    .m-heading{font-size: 3.2rem;}
    h3{font-size: 1.4rem;}
    p{font-size: 1.4rem}
    .p-bold{font-size: 1.4rem;}
    #showcase .showcase-content p{
        width: 80%;  
        margin: 3.6rem 0; 
     }
     .btn{
        font-size: 1.4rem;
        padding: 1rem 2rem;
     }
     .btn-white{
        font-size: 1.4rem;
        padding: 1rem 2rem;
     }
     #what .items{
        display: flex;
        flex-direction: column;
    }
     #what .item{
        margin: 2rem 2.4rem;
    }
    .works .items .items-container{
        overflow: visible;
        height:fit-content;
    }
    .works .container .main-text{
        width: 80%;
        padding: 0;
    }
    .works .items img{
        display: none;
    }
    .works .items .p{
        padding: 0 0 2.4rem 0;
    }
    .works .items .text{
        padding: 2.4rem
    }

    .works .items .work-1, .works .items .work-2, .works .items .work-3, .works .items .work-4, .works .items .work-5, .works .items .work-6{
        margin: 2.4rem 2.4rem 0 2.4rem;
    }


    .works .items .work-4{
        margin: 2.4rem 2.4rem 0 2.4rem;
    }
    
    .works .items .work-1 .text, .works .items .work-2 .text, .works .items .work-3 .text, .works .items .work-4 .text, .works .items .work-5 .text, .works .items .work-6 .text{
       border-radius: 1.6rem;
       border: solid 1px #E2E5EB;
    }
    footer{
        padding: 2.4rem;
    }
    .all-works .text{padding:18rem 2.4rem 0 2.4rem ;}

}