@media (max-width: 600px) {

    header{
        flex-direction: column;
        height:fit-content;  
    }
    header .nav ul{
        padding: 0;
    }
    header li{
        font-size: 1.4rem;
    }
    main{
        height: 90vh;
    }
    .logo{
        margin: 2rem 0;
    }
    .nav{
        margin: 0;
    }
    #showcase .showcase-content{
        padding-top:6.4rem;
    }
    .l-heading{
        font-size: 4.8rem;
    }
    .m-heading{font-size: 3.2rem;}
    .m-heading-white{font-size: 3.2rem;}
    h3{font-size: 1.4rem;}
    p{font-size: 1.4rem}
    .p-bold{font-size: 1.4rem;}
    #showcase .showcase-content p{
        width: 80%;  
        margin: 3.6rem 0; 
     }
     .btn{
        font-size: 1.4rem;
        padding: 1rem 2rem;
     }
     .btn-white{
        font-size: 1.4rem;
        padding: 1rem 2rem;
     }

     /* Companies */
    
     .companies-container{
        padding: 6.4rem 2.4rem;
     }
     .company-text-wrapper{
        margin-bottom: 6.4rem;
     }
     .company-text-wrapper h3{font-size: 1.4rem;}
     .company-logo-top{
        margin-bottom: 3.2rem;
     }
     .brand-logo{
        width: 6rem;
        height: 6rem;
    }

    .company-logo-wrapper{
        max-width: 90%;
    }
    /* .mat{
        scale: 0.3;
        
    } */
     
     #what .container{
        /* padding: 0 12.4rem; */
        overflow: hidden;
        padding: 5rem 0;
        
    }
     #what .items{
        display: flex;
        flex-direction: column;
    }
     #what .item{
        margin: 2rem 2.4rem;
    }
    .works .items .items-container{
        overflow: visible;
        height:fit-content;
    }
    .works .container .main-text{
        width: 80%;
        padding: 0;
        margin-top: 10rem;
    }
    .works .container{
        margin-bottom: 0;
    }
    .works .items img{
        display: none;
    }
    .works .items .p{
        padding: 0 0 2.4rem 0;
    }
    .works .items .text{
        padding: 2.4rem
    }

    .works .items .work-1, .works .items .work-2, .works .items .work-3, .works .items .work-4, .works .items .work-5, .works .items .work-6, .works .items .work-7, .works .items .work-8{
        margin: 2.4rem 2.4rem 0 2.4rem;
    }

    .works .items .work-4{
        margin: 2.4rem 2.4rem 0 2.4rem;
    }

    .works .items .items-container .work-image{
        display: none;
    }
    .works .items .items-container .text{
        width: 100%;
        border-radius: 1.6rem;
        box-shadow: none;
    }

    .works .items .view-more{
        margin-top: 6.4rem;
    }
    
    footer{
        padding: 2.4rem;
        margin-top: 6.4rem;
    }
    footer img{
        width: 5rem;
    }
    footer h3{
        font-size: 1rem;
    }
    .all-works .text{padding:18rem 2.4rem 0 2.4rem ;}

    /* About */
    .about-container{
        margin: 6.4rem 2.4rem;
        flex-direction: column;
        gap: 2.4rem;
    }
    .about .text{
        padding: 18rem 2.4rem 0 2.4rem;
    }
    .about-container .images{
        width: 100%;
        height: 100vh;
    }
    .view-works .head .m-heading{
        font-size: 1.8rem;
    }
    .about-container .text{
        width: 100%;
    }
    .about-more{
        padding: 0 2.4rem;
    }
    .about-more .key-achievements{
        padding: 2.4rem 2.4rem;
    }
    .view-works .head{
        gap: 0;
    }
    .view-works .head svg{
        width: 5rem;
        height: 5rem;
    }
    .contact .text{
        padding: 16rem 2.4rem 2.4rem 2.4rem;
    }
    .contact .text p{width: 100%;}
    section .contact-container{
        padding: 0 2.4rem;
        gap: 2.4rem;
    }
    section .contact-container{
        flex-direction: column;
    }


    /* Featured Work */


    .featured-work .text{
        padding: 16rem 2.4rem 6.4rem 2.4rem;
        text-align: center;
    }
    .featured-work .info{
        max-width: 100%;
        flex-direction: column;
        text-align: left;
    }
    .featured-work .info .sub-info{
        padding: 0 2.4rem;
    }
    .featured-work .info .sub-info h4{
        margin-bottom: 0;
    }
    .featured-work .info .sub-info p{
        margin: 0;
    }
    .featured-work .intro{
        max-width: 90%;
    }
    .featured-work .solution{
        max-width: 90%;
        margin-top: 6.4rem;
    }
    .featured-work .contribution{
        max-width: 90%;
        margin-top: 6.4rem;
        }
    .featured-work .img img{
        width: 80%;
    }
    .contribution-img img{
        width: 60%;
    }
    .mobile-image{
        width: 40%;
        height: auto;
    }
    .caption{
        max-width: 80%;
    }
    .more-works-bottom{
        flex-direction: column;
    }
    .more-works-bottom .works-gallery-btn a{
        margin-bottom: 2.4rem;
        margin-left: auto;
        margin-right: auto;
    }
    .more-works-bottom .works-gallery-btn{
        margin: 2.4rem;
    }
    .more-works-bottom .works-gallery-btn{
        flex-direction: column;
    }

    /* Companies List */
    .companies-l-text{
        font-size: 5rem;
    }
    .companies-section{
        padding: 6.4rem 0;
    }

}
