@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@100;200;300;400;500;600;700&display=swap');

html{
    font-size: 10px;
}
body{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
}

/* Utilities */

.text-center{
    text-align: center;
}

.l-heading{
    font-size: 7.6rem;
    font-family: 'comfortaa';
    margin: 0;
    letter-spacing: 2px;
    color: #14213D;
}
.m-heading{
    font-size: 5.2rem;
    font-family: 'comfortaa';
}
.m-heading span{color: #FF9F1C;}
.m-heading-white{
    font-size: 5.2rem;
    font-family: 'comfortaa';
    color: #ffffff;
}
.p-bold{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
}

h3{
    font-family: 'Montserrat';
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 25px;
    color: #14213D;
}
.text-white{
    opacity: 90%;
    color: #E2E5EB;
}
.btn{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 500;
    color: #14213D;
    flex-shrink: 0;
    border-radius: 32px;
    border: solid 1px #14213D;
    text-decoration: none;
    margin: 0;
    padding: 1rem 6rem;
}
.btn-yellow{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #FF9F1C;
    color: #ffffff;
    flex-shrink: 0;
    border-radius: 32px;
    text-decoration: none;
    margin: 0;
    padding: 1rem 6rem;
}
.btn-white{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
    flex-shrink: 0;
    border-radius: 32px;
    border: solid 1px #E2E5EB;
    text-decoration: none;
    margin: 0;
    padding: 1rem 6rem;
}
.btn:hover{
    background-color: #14213D;
    color: #E2E5EB;
    cursor: pointer;
}


/* nav */

header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: -1 30 20px #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 999;
    width: 100vw;
    height: 8rem;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 8px);
}
.logo{
padding: 10px 0 0 0 ;
margin: 0 0 0 12.4rem;
}
.logo:hover{
    cursor: pointer;
}
.nav{
    margin: 0 12.4rem 0 0;
}

header li{
    display: inline;
    font-size: 1.6rem ;
    font-weight: 600;
}

header a{
    color: #14213D;
    text-decoration: none;
    padding: 0 16px;
    
}
header a:hover{
    opacity: 50%;

}

header ul button{
    border-radius: 32px;
    width: 144px;
    height: 44px;
    flex-shrink: 0;
    color: #ffffff;
    border: 0;
    background-color: #FF9F1C;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Main */

main{
    color: #14213D;
    height: 110vh;
    /* margin: -124px 0 0 0; */
   
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.showcase-content span{color: #FF9F1C;}

#showcase .showcase-content h3{
   margin: 3.6rem 0 0 0; 
   opacity: 50%;
}
#showcase .showcase-content p{
   width: 50%;  
   margin: 3.6rem 0; 
}

/* What */

#what{
    /* background: #E2E5EB;    */
    background: url(what-bg-noise.png); 
    color: #E2E5EB;
}
#what p{
    color: #E2E5EB;
    /* opacity: 80%; */
}

#what .items{
    display: grid;
    grid-template-columns: auto auto auto;
}
.item .head{
    display: flex;
}
#what .container{
    /* background: #E2E5EB; */
    max-width: 144rem;
    margin: auto;
}
#what .item{
    margin: 3rem 2rem;
}
.items .head h3{
    margin:0 0 0 1.6rem;
}
#what .container{
    /* padding: 0 12.4rem; */
    overflow: hidden;
    padding: 5rem 12.4rem;
    
}

/* works */

.works{
    max-width: 144rem;
    margin: auto;

}
.works .container .main-text{
    
    width: 50%;
    margin: 0 auto;
    margin-top: 12.4rem;
    padding:0 12.4rem;
}
.works .container{
    /* padding: 0 12.4rem; */
    /* text-align: center; */
    margin-bottom: 12.4rem;
    /* display: block; */
}

.works .items .items-container{
    height: min-content;
    overflow: hidden;
    
}

.works .items .text{
    /* background-color:#F6BE9C; */
    background-color: #ffffff;
    padding: 6rem;
    border-radius: 1.6rem 0 0 1.6rem;
}

.works .items .work-1{
    display: flex;
    /* border: solid 1px #E2E5EB; */
    margin: 6.4rem 12.4rem 0 12.4rem;
}

.works .items .work-1 .text{
    background-color:#F6BE9C;
    /* border-radius: 1.6rem 0 0 1.6rem; */
}

.works .items h2{margin:0;}
.works .items p{margin:0 0 3.2rem 0;}

/* Wallets-Work */
.works .items .work-2{
    display: flex;
    /* border: solid 1px #E2E5EB; */
    margin: 6.4rem 12.4rem 0 12.4rem;
}

.works .items .work-2 .text{
    background-color:#ffffff;
    /* border-radius: 1.6rem 0 0 1.6rem; */
}
.works .work-image img{
    height: 60rem;
    border-radius: 0 1.6rem 1.6rem 0;
}

/* Interstellas-Work */
.works .items .work-3{
    display: flex;
    /* border: solid 1px #E2E5EB; */
    margin: 6.4rem 12.4rem 0 12.4rem;
}

.works .items .work-3 .text{
    background-color:#18191F;
    color: #ffffff;
    /* border-radius: 1.6rem 0 0 1.6rem; */
}


.works .items .work-3 .text p {
    opacity: 90%;
    color: #E2E5EB;
}

.works .items .view-more{
    text-align: center;
    margin-top: 12.4rem;
}

/* Footer */

footer{
    padding: 4.8rem 12.4rem;
    background-color: #000000;
    margin-top: 12.4rem;
}

footer h2{
    color: #E2E5EB;
    margin-bottom: 0;
}
footer p{
    color: #E2E5EB;
}
footer span{
    color: #FF9F1C;
}
footer img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px #3a3b3d;
    border-radius: 32px;
}
footer h3{
    color: #E2E5EB;
    opacity: 0.5;
    margin: 6.4rem 0;
}



/* Works Page */

.all-works .text{
    padding: 16rem 12.4rem 0 12.4rem;
}
.all-works .text h3{opacity: 50%;}

.all-works .items-container, .works .items-container{
    margin-bottom: 5rem;
}
.works .items .work-4{
    display: flex;
    /* border: solid 1px #E2E5EB; */
    margin: 6.4rem 12.4rem 0 12.4rem;
}
.works .items .work-4 .text{
    background-color:#6694AD;
    color: #ffffff;
    /* border-radius: 1.6rem 0 0 1.6rem; */
}
.works .items .work-4 .text p {
    opacity: 90%;
    color: #E2E5EB;
}
.works .items .work-5{
    display: flex;
    /* border: solid 1px #E2E5EB; */
    margin: 6.4rem 12.4rem 0 12.4rem;
}
.works .items .work-5 .text{
    background-color:#F6BE9C;
    /* border-radius: 1.6rem 0 0 1.6rem; */
}

.works .items .work-6{
    display: flex;
    /* border: solid 1px #E2E5EB; */
    margin: 6.4rem 12.4rem 0 12.4rem;
}
.works .items .work-6 .text{
    background-color:#3d0814;
    color: #ffffff;
    /* border-radius: 1.6rem 0 0 1.6rem; */
}
.works .items .work-6 .text p{
    opacity: 90%;
    color: #E2E5EB;
}

.works .items .work-7{
    display: flex;
    margin: 6.4rem 12.4rem 0 12.4rem;
}

.works .items .work-7 .text{
    background-color:#3d0814;
    color: #ffffff;
    width: 44%;
    height: 100%;
    z-index: 1;
    box-shadow: 40px 16px 30px rgba(0, 0, 0, 0.25);
    flex-grow: 2;

}

.works .items .items-container .work-7 .work-image{
    background: url(Stellas-work.jpg);
    width: 56%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 1.6rem 1.6rem 0;
    flex-grow: 1;
}



.works .items .work-1 .text, .works .items .work-2 .text, .works .items .work-3 .text, .works .items .work-4 .text, .works .items .work-5 .text, .works .items .work-6 .text{
    z-index: 1;
    box-shadow: 40px 16px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

/* Individual Work Pages */

.work-banner{
    margin-top: 5rem;
    background-image: url('stellas-banner.jpg');
    background-repeat: no-repeat;
    min-height: 45vh;
    background-size: cover;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.20);
}
.all-works .role{
    padding: 10rem 12.4rem 0 12.4rem;
}




/* About Page */
.about .text{
    padding: 16rem 12.4rem 0 12.4rem;
}
.about-container .text h3{
    opacity: 50%;
    margin-top: 0;
}
.about-container{
    display: flex;
    margin: 12.4rem;
    gap: 10rem;
}
.about-container .text{
    width: 50%;
}
.about-container .images{
    width: 50%;
}
.about-container .images .about-picture{
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(jerry-pic1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-container .images .about-picture2{
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(jerry-pic2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}



/* .about-container .images .about-picture img{
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(jerry-pic1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.about-container .images .about-picture2 img{
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(jerry-pic1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
} */
.about-container .images .about-picture img{
    overflow: clip;
}

.about-container .images{
    gap: 2rem;
    display: flex;
    flex-direction: column;

}

/* .view-works{
    padding: 12.4rem 12.4rem 0 12.4rem;
} */

.view-works .head{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.view-works a{
    text-decoration: none;
    color: #14213D;
}

.view-works .p{
    max-width: 35%;
    text-align: center;
    margin: auto;
}
.view-works .head:hover{
    cursor: pointer;
    background: #E2E5EB;
    color: #FF9F1C;
}
.view-works .head svg{
    width: 10rem;
    height: 10rem;
}
.about-sub{
    text-align: center;
    width: 50%;
    margin: 5rem auto;
}
.about-sub h3{
    opacity: 50%;
}
.about-sub .text span{
    font-weight: 700;
}
