@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');

html{
    font-size: 10px;
}
body{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;

}

/* Utilities */

.text-center{
    text-align: center;
}

.l-heading{
    font-size: 7.6rem;
    font-family: 'comfortaa';
    margin: 0;
    letter-spacing: 2px;
}
.m-heading{
    font-size: 5.2rem;
    font-family: 'comfortaa';
}

h3{
    font-family: 'Montserrat';
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 25px;
    color: #14213D;

}
.btn{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    width: 203px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 32px;
    border: solid 1px #14213D;
    text-decoration: none;
}
.btn:hover{
    background-color: #14213D;
    color: #E2E5EB;
    cursor: pointer;
}

/* nav */

header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #ffffff;
    /* padding: 124px; */
    box-shadow: -1 30 20px #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 999;
    width: 100vw;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(25px);

    
}
.logo{
padding: 10px 0 0 0 ;
margin: 0 0 0 12.4rem;
}
.logo:hover{
    cursor: pointer;
}
.nav{
    margin: 0 12.4rem 0 0;
}

header li{
    display: inline;
    font-size: 1.6rem ;
    font-weight: 600;
}

header a{
    color: #14213D;
    text-decoration: none;
    padding: 0 16px;
    
}
header a:hover{
    opacity: 50%;

}

header ul button{
    border-radius: 32px;
    width: 144px;
    height: 44px;
    flex-shrink: 0;
    color: #ffffff;
    border: 0;
    background-color: #FF9F1C;
    font-size: 1.6rem;
    font-weight: 600;
}

/* Main */

main{
    color: #14213D;
    height: 100vh;
    /* margin: -124px 0 0 0; */
   
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#showcase .showcase-content h3{
   margin: 3.6rem 0 0 0; 
   opacity: 50%;
}
#showcase .showcase-content p{
   width: 50%;  
   margin: 3.6rem 0; 
}
/* #showcase .showcase-content button{
    width: 203px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 32px;
    border: solid 1px #14213D;
}
#showcase .showcase-content button:hover{
    background-color: #14213D;
    color: #E2E5EB;
} */

/* What */

#what .items{
    display: flex;
}
.item .head{
    display: flex;
}
#what .container{
    background: #E2E5EB;
}
.item{
    margin: 5rem 12.4rem;
}
.items .head h3{
    margin:0 0 0 1.6rem;
}
#what .container{
    /* padding: 0 12.4rem; */
    overflow: hidden;
    
}

/* works */

/* .works .container .items{
    flex-direction: column;   
} */

.works .container .text{
    
    width: 50%;
    margin: 0 auto;
    padding:0 12.4rem;
}
.works .container{
    padding: 0 12.4rem;
    text-align: center;
    margin-bottom: 12.4rem;
}

.works .container .items .stellas img{
    width: 23.3rem;
    height: 30.2rem;
    margin: 4rem 7.1rem -7.1rem 7.1rem;
    position: relative;
}
.works .container .items .stellas{
    width: 37.6rem;
    height: 45.8rem;
    background-color: #F6BE9C;
    border-radius: 6.4rem;
    overflow: hidden;
    border: solid 1px #E2E5EB;
}
.works .container .items .stellas .copy{
    background-color: #ffffff;
    padding: 4rem;
    box-shadow: 0 -4 20px #333;
    
}
.works .container .items .stellas .copy h3{
    margin: 0%;
}
.works .container .items{
    display: flex;
    margin: 4.8rem 0;
}

/* WALLETS */

.works .container .items .wallets img{
    width: 26.7rem;
    height: 15.2rem;
    margin: 5.4rem 8.5rem 6.6rem 5.5rem;
    /* position: relative; */
}
.works .container .items .wallets{
    width: 37.6rem;
    height: 45.8rem;
    background-color: #7E79A2;
    border-radius: 6.4rem;
    border: solid 1px #E2E5EB;
    overflow: hidden;
    margin: 0 3rem;
}
.works .container .items .wallets .copy{
    background-color: #ffffff;
    padding: 4rem;
    box-shadow: 0 -4 20px #333;
}
.works .container .items .wallets .copy h3{
    margin: 0%;
}
.works a{
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 6rem;
    color: #14213D;
    margin: 2rem 2rem;
}

/* Footer */

footer{
    padding: 4.8rem 12.4rem;
    background-color: #000000;
}
footer h2{
    color: #E2E5EB;
    margin-bottom: 0;
}
footer p{
    color: #E2E5EB;
}
footer span{
    color: #FF9F1C;
}
footer img:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px #3a3b3d;
    border-radius: 32px;
}
footer h3{
    color: #E2E5EB;
    opacity: 0.5;
    margin: 12.4rem 0;
}


/* Works Page */

.all-works .text{
    padding: 12.4rem 12.4rem 0 12.4rem;
}
.all-works .text h3{opacity: 50%;}
