@media (min-width: 601px) and (max-width:1024px){

    /* Header */

    header{
        padding: 5rem 2.4rem 1rem 2.4rem;
    }

    /* Main Section */
    
    #main .social{
        /* display: none; */
        position: relative;
        width: 100%;
        padding: 0;
    }
    #main .social li{
        margin: 0;
    }
    #main .nav{
        /* display: none; */
        /* position: relative; */
        /* width: 100%; */
        padding-right: 2.4rem;
        background-color: rgb(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur( 5px);
        border: 1px solid rgb(255, 255, 255, 0.5);
        border-radius: 0.8rem 0 0 0.8rem;
    }

    #main .social ol{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 2.4rem auto;
        padding: 0 2.4rem;

    }
    /* #main .nav ol{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin: 2.4rem auto;
        padding: 0 2.4rem;
    } */
    



    /* HERO V1 */


    /* .hero .hero-img{
        width: 80%;
        height: 33.3%;
        margin: 2.4rem auto;
        justify-content: center;
        align-items: center;
        display: flex;

    }
    .hero .hero-img img{
        width: 70%;
        border-radius: 0.8rem ;
        border: 0;

    }

    .hero{
        max-width: 90%;
        margin: 6.4rem auto;
        flex-direction: column;
        gap: 0;
    }

    .hero .hero-text{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        border-bottom: none;

    }
    .hero .sub-text{
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    .wow-top{display: none;} */


/* HERO V2 */


    /* .hero{
        margin: 2.4rem;
        width: 100vw;
        height: 50vh;
        justify-content: center;
        max-width: 100%;
        z-index: -1;
    }

    .hero .hero-text{
        align-self: center;
        text-align: left;
    }

    .hero .sub-text{display: none;}
    .pm-top{display:block;}
    .wow-top{display:block;
    margin-top: 2rem;}
    .hero .hero-text{
        width: 50%;
        border: 0;
    }
    .hero .hero-img{
        width: 60%;
        right: 0;
        height: 100%;
    }
    .hero .hero-img img{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        max-height: fit-content;

    } */

    /* HERO V3 */

    .hero{
        width: 100%;
        margin-top: 6.4rem;
        gap: 2rem;

    }
 
    .hero .hero-img img{
        width: 30rem;
    }
    .hero .hero-text{
        width: 100%;

    }
    /* .hero .hero-text h3{
        font-size: 2.4rem;
    } */

    .hero .sub-text{
        width: 60%;
    }


    /* Work */

    /* #work .work-text{
        width: 45%;
    }
    #work .work-text .industry{
        flex-direction: column;
    } */


    .all-works{
        gap: 3rem;
        /* display: flex;
        flex-direction: column; */
    }
    .grid-span-7{
        grid-column: span 6;
    }
    .grid-span-5{
        grid-column: span 6;
        grid-row: span ;
    }
    #work .work-text{
        padding: 2.4rem;
    }




    /* About Me */

    #about-me .text{
        width: 100%;
    
    }

    /* Back To Top */
     
    #top .top{
    bottom: 5rem;
    right: 2.4rem;
    }

}